@model IEnumerable<TheBugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Services.Interfaces
@using TheBugTracker.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "All Tickets";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>All Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div id="">


					<!-- -->
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects task-table">
									<div class="tbl-caption">
										<h4 class="heading mb-0">Ticket List</h4>
									</div>
									
									<table id="empoloyeestbl2" class="table">
										<thead>
											<tr>
												<th>
												</th>
												<th>#</th>
												<th>Owner</th>
												<th>Assigned To</th>
												<th>Title</th>
												<th>Status</th>
												<th>Priority</th>
												<th>Last Update</th>
												<th class="text-end" >Action</th>
											</tr>
										</thead>
										<tbody>


                                        @foreach (var item in Model)
                                        {
											<tr>
												<!-- LOOP -->

                                                
												<td> </td>
												
                                                        <td><span>  @Html.DisplayFor(modelItem => item.Id)  </span></td>

												<td>
													<div class="products">
														<div>
                                                                    <h6> @Html.DisplayFor(modelItem => item.OwnerUser.FullName) </h6>
														</div>	
													</div>
												</td>

												<td>
													<div class="products">
														<div>

												@if (item.DeveloperUserId == null )
												{
													if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
													{
														<a class="badge bg-info text-white" style="text-decoration:none" 
														 asp-action="AssignDeveloper" asp-controller="Tickets" 
																	  asp-route-id="@item.Id">Assign Dev</a>
													}

												}else
												{
														<h6> @Html.DisplayFor(modelItem => item.DeveloperUser.FullName) </h6>
												}
                                                               
														</div>	
													</div>
												</td>

												<td>
													<div class="products">
														<div>
                                                                <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
														</div>	
													</div>
												</td>


												<td> <span class="badge badge-primary light border-0 me-1">

                                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                </span></td>

												<td> <span class="badge badge-primary light border-0 me-1">
                                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                </span> </td>

                                                    <td><span>@Html.DisplayFor(modelItem => item.Updated)</span></td>

                                                <td>

                                                    <div class="d-flex">
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>
                                          
                                           


                                                        @if (User.IsInRole(nameof(Roles.Admin)) || item.DeveloperUserId == btUser.Id || item.OwnerUserId == btUser.Id
                                                          || await ProjectService.IsAssignedProjectManagerAsync(btUser.Id, item.ProjectId))
                                                        {
                                                                      <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                                        }

                                                        @if (User.IsInRole(nameof(Roles.Admin)) || await ProjectService.IsAssignedProjectManagerAsync(btUser.Id, item.ProjectId))
                                                        {
                                                            if (item.Archived)
                                                            {
                                                                   <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-info shadow btn-xs sharp"><i class="fa fa-refresh"></i></a>

                                                            }
                                                            else
                                                            {
                                                                 <a asp-action="Archive" asp-route-id="@item.Id" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-archive"></i></a>
                                                            }
                                                        }



                                                   </div>
                                             </td>

											</tr>

                                            }
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--**********************************
			Content body end
		***********************************-->

 </div>
