@model TheBugTracker.Models.ViewModels.AssignDeveloperViewModel


<div class="d-flex align-items-center">
    <a class="" asp-action="AllTickets" asp-controller="Tickets" style="color: rgb(23, 123, 227); margin-right : 15px" >  <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> </a>
    <h4 class="mb-0">Assign Developer</h4>
</div>

<div class="d-flex align-items-center" style="margin-bottom : 20px">
    <a class="" asp-action="Dashboard" asp-controller="Home" style="color: rgb(23, 123, 227); margin-right : 15px" >  <i class="fa fa-home fa-lg" aria-hidden="true"></i> </a>
    <p class="mb-0" style="margin-right : 5px">/ Tickets</p>
    <p class="mb-0">/ AssignDeveloper</p>
</div>


<div class="row">
  <div class="col-md-8">
    <div class="pb-3">

      <!--    Assign Developer              -->

<h3 class="mt-2 mb-4">Assign Developer</h3>
<div class="row">
  <div class="card shadow mt-4">
    <div class="card-body">
      <form method="post" asp-action="AssignDeveloper" asp-controller="Tickets">
        <input asp-for="Ticket.Id" hidden />

        <div class="form-group">
          <label style="margin-bottom: 10px" class="col-form-label"
            ><strong>Select Developer</strong></label
          >

          <select
            required
            asp-for="DeveloperId"
            class="form-control"
            asp-items="@Model.Developers"
          >
            <option></option>
          </select>
        </div>
        <div class="form-group mt-3">
          <input type="submit" value="Assign" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>

<!--    Assign Developer              -->

       
    </div>
    <div class="row">
      <div class="col-md-6">

          <!-- Detail -->
 
  <div class="card">
    <div class="card-header border-0 pb-0">
      <h2 class="card-title">Ticket Details</h2>
    </div>
    <div class="card-body pb-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex px-0 justify-content-between">
          <strong>Title</strong>
          <span class="mb-0"> @Model.Ticket.Title</span>
        </li>

        <li class="list-group-item d-flex px-0 justify-content-between">
          <strong>Created</strong>
          <span class="mb-0">
                                        @Model.Ticket.Created.ToString("dd MMM, yyyy")</span
          >
        </li>

        <li class="list-group-item d-flex px-0 justify-content-between">
          <strong>Project Deadline:</strong>
          <span class="mb-0">
                                        @Model.Ticket.Project.EndDate.ToString("dd MMM, yyyy")
          </span>
        </li>

        <li class="list-group-item d-flex px-0 justify-content-between">
          <strong>Priority:</strong>
          <span class="mb-0"> @Model.Ticket.TicketPriority.Name </span>
        </li>

        <li class="list-group-item d-flex px-0 justify-content-between">
          <strong>Status:</strong>
          <span class="mb-0"> @Model.Ticket.TicketStatus.Name </span>
        </li>
      </ul>
    </div>
  </div>
 
<!-- Detail -->

      </div>
      <div class="col-md-6"> 
          
       <!-- Current Developer  -->

                @if (String.IsNullOrEmpty(Model.Ticket.DeveloperUserId))
                {

            <div class="card overflow-hidden">
              <div class="card-header border-0 pb-0">
                <h2 class="card-title">Current Developer</h2>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <div class="profile-photo">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg"
                      width="100"
                      class="img-fluid rounded-circle"
                      alt=""
                    />
                  </div>
                  <h3 class="mt-4 mb-1">Not Assigned</h3>
                </div>
              </div>
            </div>

                }
                else
                {

            <div class="card overflow-hidden">
              <div class="card-header border-0 pb-0">
                <h2 class="card-title">Current Developer</h2>
              </div>

              <div class="card-body">
                <div class="text-center">
                  <div class="profile-photo">
                    <img
                      src="https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_1280.png"
                      width="100"
                      class="img-fluid rounded-circle"
                      alt=""
                    />
                  </div>
                  <h3 class="mt-4 mb-1">@Model.Ticket.DeveloperUser.FullName</h3>
                  <p class="">@Model.Ticket.DeveloperUser.Email</p>
                                @*    <a   asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-primary btn-rounded mt-3 px-5">Profile</a>  *@
                </div>
              </div>
            </div>

                }


     <!-- Current Developer  -->
      
      </div>
    </div>
  </div>
  <div class="col-md-4">

       <!--.md-4->


  </div>
</div>

 

