@model IEnumerable<TheBugTracker.Models.Ticket>
@using TheBugTracker.Models.Enums

@{
    ViewData["Title"] = "Unassigned Tickets";
}


<div class="d-flex align-items-center">
	<a class="" asp-action="AllTickets" asp-controller="Tickets" style="color: rgb(23, 123, 227); margin-right : 15px" >  <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> </a>
	<h4 class="mb-0">Unassigned Tickets</h4>
</div>

<div class="d-flex align-items-center" style="margin-bottom : 20px">
	<a class="" asp-action="Dashboard" asp-controller="Home" style="color: rgb(23, 123, 227); margin-right : 15px" >  <i class="fa fa-home fa-lg" aria-hidden="true"></i> </a>
	<p class="mb-0" style="margin-right : 5px">/ Tickets</p>
	<p class="mb-0">/ UnassignedTickets</p>
</div>


							 
								<div class="col-xl-12">
									<div class="card dz-card" id="accordion-one">
										<div class="card-header flex-wrap">
											<div>
												<h4 class="card-title">Unassigned Tickets</h4>
												 
											</div>
										 
										</div>
										 
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
											 <div class="card-body pt-0">
												<div class="table-responsive">
													<table id="example" class="display table" style="min-width: 845px">
														<thead>
															<tr>
																<th>Title</th>
																<th>Developer</th>
																<th>Status</th>
																<th>Priority</th>
																<th>Date</th>
																<th>Action</th>
															</tr>
														</thead>
														<tbody>
															
								@foreach (var ticket in Model.OrderByDescending(d => d.Created))
								{

																	<tr>
																		<td><strong> <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="text-decoration: none">@ticket.Title</a>  </strong></td>
																		<td>

											@if (ticket.DeveloperUserId != null)
											{
												@ticket.DeveloperUser?.FullName
											}
											else
											{
												if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
												{
																									<a class="btn btn-sm btn-info text-white" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
												}

											}
																		</td>

										@if (ticket.TicketStatus.Name == "New")
										{
																						<td> <span class="badge light badge-success">@ticket.TicketStatus.Name</span> </td>
										}
										else
										{
																					   <td> <span class="badge light badge-primary">@ticket.TicketStatus.Name</span> </td>
										}

										@if (ticket.TicketPriority.Name == "Urgent")
										{
																						<td> <span class="badge light badge-danger">@ticket.TicketPriority.Name</span> </td>
										}
										else if (ticket.TicketPriority.Name == "Medium")
										{
																				 <td> <span class="badge light badge-warning">@ticket.TicketPriority.Name</span> </td>
										}
										else if (ticket.TicketPriority.Name == "Low")
										{
																				<td> <span class="badge light badge-info">@ticket.TicketPriority.Name</span> </td>
										}
										else
										{
																				 <td> <span class="badge light badge-primary">@ticket.TicketPriority.Name</span> </td>
										}


																		<td> @ticket.Created.ToString("dd-MMM-yyyy") </td>
																				<td>  <a asp-action="Details" asp-controller="Tickets"asp-route-id="@ticket.Id" class="btn btn-success shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a> </td>
																		  </tr>
								} 
														 
														</tbody>
														 
													</table>
												</div>
											</div>
												 
											</div>
											<div class="tab-pane fade " id="html" role="tabpanel" aria-labelledby="home-tab">
												<div class="card-body pt-0 p-0 code-area">
 
<pre class="mb-0"><code class="language-html">


 