﻿@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Services.Interfaces
@model IEnumerable<TheBugTracker.Models.Project>

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "All Project";
	BTUser btUser = await UserManager.GetUserAsync(User);
}

<div class="d-flex align-items-center">
		<a class="" asp-action="AllProjects" asp-controller="Projects" style="color: rgb(23, 123, 227); margin-right : 15px" >  
			<i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> 
		</a>
		<h4 class="mb-0">All Project</h4>
</div>

<div class="d-flex align-items-center" style="margin-bottom : 20px">
		<a class="" asp-action="Dashboard" asp-controller="Home" style="color: rgb(23, 123, 227); margin-right : 15px" >  
			<i class="fa fa-home fa-lg" aria-hidden="true"></i> </a>
		<p class="mb-0" style="margin-right : 5px">/ Projects</p>
		<p class="mb-0">/ All Project</p>
</div>


<!-- Column starts -->
<div class="col-xl-12">
  <div class="card dz-card" id="accordion-one">
    <div class="card-header flex-wrap">
      <div>
        <h4 class="card-title">All Projects</h4>
      </div>
    </div>
    <!--tab-content-->
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="Preview"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="card-body pt-0">
          <div class="table-responsive">
            <table id="example" class="display table" style="min-width: 845px">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>End Date</th>
                  <th>Priority</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                      <td>
                        <h6>@item.Name</h6>
                        <span>
                                          Created @item.StartDate.ToString( "dd MMM, yyyy"  ) 
                        </span>
                      </td>

                          <td> @item.EndDate.ToString( "dd MMM, yyyy"  )  
                      <td>
                                            @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                      </td>
                      <td>
                        <a
                          asp-action="Details"
                          asp-route-id="@item.Id"
                          class="btn btn-success shadow btn-xs sharp me-1"
                          ><i class="fa fa-eye"></i
                        ></a>

                                            @{
                                                bool isPM = (await
                                                                ProjectService.GetProjectManagerAsync(item.Id))?.Id ==
                                                                btUser.Id;
                                            } @if (User.IsInRole(nameof(Roles.Admin)) ||
                                                            isPM)
                                            {

                            <a
                              asp-action="Edit"
                              asp-route-id="@item.Id"
                              class="btn btn-primary shadow btn-xs sharp me-1"
                              ><i class="fa fa-pencil"></i
                            ></a>

                                                if (item.Archived)
                                                {
                                <a
                                  asp-action="Restore"
                                  asp-route-id="@item.Id"
                                  class="btn btn-info shadow btn-xs sharp"
                                  ><i class="fa fa-refresh"></i
                                ></a>
                                                }
                                                else
                                                {
                                <a
                                  asp-action="Archive"
                                  asp-route-id="@item.Id"
                                  class="btn btn-danger shadow btn-xs sharp"
                                  ><i class="fa fa-archive"></i
                                ></a>
                                                }
                                            }
                      </td>
                    </tr>
                                }
              </tbody>
            </table>
          </div>
        </div>
        <!-- /Default accordion -->
      </div>
      <div
        class="tab-pane fade"
        id="html"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="card-body pt-0 p-0 code-area"></div>
        <!-- /Default accordion -->
      </div>
    </div>
    <!--/tab-content-->
  </div>
</div>

<!-- Column ends -->

